/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.rest_name {
  font-size: 40px;
}

.button {
  color: #bbbbbb;
  width: 200px;
  height: 100px;
}
.field {

}



body {
  margin-left: auto;
  background-image: url("http://i.imgur.com/Cj06Obx.jpg");
  position: fixed;
  top: 0;
  height: 700px;
  width: 100%;
}

.field{
  text-align: center;
  color: white;
}
.label {
  text-align: center;
  color: white;
  text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px px 0 #000;
     font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.actions {
  text-align: center;
  color: white;
}
